################################################################################
!!! NOTE
################################################################################

CONTINUED FROM

~/Documents/DEV/version-controlled/edu/Meta Front-End Developer Professional Certificate/08 -- Front-End Developer Capstone/__NOTES.txt

################################################################################

Scenario
========
    Little Lemon has faced difficulties with the reserve-a-table feature on its website.
    The feature doesn’t exist in the navigation bar
        and there is no specific button on its homepage to highlight this option.

################################################################################

################################################################################
!!! NOTE: WIREFRAMING STARTS HERE !!!
################################################################################

Exercise: Wireframing the project

    In this exercise, you will create a wireframe
        of the homepage incorporating this feature.

    Use Figma.

    Follow the instructions at:
        https://www.coursera.org/learn/meta-front-end-developer-capstone/supplement/Fx5mL/exercise-wireframing-the-project

    Step 1: List the client's requirements

        Content blocks
        ==============

            * About Little Lemon
            * Highlights and specials
            * Descriptions and photos of dishes
            * Navigation bar
            * Footer
            * Testimonials

    Step 2: Create the frame and grid

        Create a 1440 x 2900 frame
        Add a 12-column layout grid to the frame.

        Construct content blocks using rectangles and name the sections.
            Navigation bar
            Hero section that showcases the Little Lemon restaurant
            Highlights section showing the week’s specials
            Testimonials
            About the Little Lemon restaurant
            Footer

    Step 3: Design the Navigation Bar content block

        Logo
        Home
        About
        Menu
        Reservations
        Order online
        Login

    Step 4: Design the Hero Section content block

        The Little Lemon name
        Where it is located
        A brief description of what type of food it offers
            We are a family owned Mediterranean restaurant, focused on traditional recipes served with a modern twist.
        Image
        Button to book a table online

            FIXME: Once clicked, the user is brought to another page where they can carry this task out.


    Step 5: Design the Highlights content block

        Specials

        3 dishes
            Name of the dish
            Dish description
            Price
            Image of the dish

        FIXME: Note that when a dish is clicked, the user is taken to another screen and that this highlights section is scrollable horizontally in order to see further items.

        Add a button so the user can go to the order online page.

            FIXME: Once clicked, the user is brought to another page where they can carry this task out.

                    Greek Salad
                    The famous greek salad of crispy lettuce, peppers, olives and our Chicago style feta cheese, garnished with crunchy garlic and rosemary croutons.
                    $12.99

                    Brushetta
                    Our Bruschetta is made from grilled bread that has been smeared with garlic and seasoned with salt and olive oil. Toppings of tomato, veggies, beans, cured pork, or cheese are examples of variations. In Italy, a brustolina grill is frequently used to create bruschetta.
                    $7.99

                    Grilled Fish
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sed cursus.
                    $20.00

                    Pasta
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquet nec in ornare.
                    $18.99

                    Lemon Dessert
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla odio enim vitae.
                    $6.99

    Step 6: Design the Testimonials content block

        Add a background to separate it from the Highlights content block above.
        Create placeholders for the reviews.

    Step 7: Design the About content block

        Add a text box placeholder.
        Add image placeholders.

    Step 8: Design the Footer Navigation content block

        First add a background, followed by the following content:
            Logo
            Doormat navigation (links to other pages)
            Contact details
            Social media links

Exercise: Designing components

    Step 1: Create the component and variants

        Create a 1440 x 800 frame

        In this frame, create a rectangle that is 400w x 80h.

        Change the fill color to #EDEFEE.
        Add rounded corners, with a radius of 8, and give it a drop shadow effect.

        Add some text, an icon and an arrow (a chevron) to indicate this is a dropdown menu, which, when clicked, will open up the occasion options for the user to select.

        Duplicate the rectangle to examine the list as it would be displayed when it drops down:
            On the duplicated rectangle, remove the rounded corners and the drop shadow.
            Add a dashed bottom stroke, delete the icons as they are not necessary and change the title to Birthday.
            Then, group the elements.

        Group all the elements and navigate to the top menu bar to create a component and a variant. These are encompassed in a purple dashed container.

        Etc...

Exercise: Applying design fundamentals in Figma

    FIXME: TODO

    What is the point of doing this...

    It's just busywork.

Recap: Semantic HTML

    The role attribute

    EX:
        <a href="/book" role="button">Book a table</a>

################################################################################
!!! NOTE: CODING STARTS HERE !!!
################################################################################

Exercise: Setting up the HTML document


BRYAN FIXME: USE CONTEXT API FOR LOGO.

SEE: React application
        "ex-context-api"
     from
        course 06 -- Advanced REact