################################################################################
!!! NOTE
################################################################################

CONTINUED FROM

~/Documents/DEV/version-controlled/edu/Meta Front-End Developer Professional Certificate/08 -- Front-End Developer Capstone/__NOTES.txt

################################################################################

Scenario
========
    Little Lemon has faced difficulties with the reserve-a-table feature on its website.
    The feature doesn’t exist in the navigation bar
        and there is no specific button on its homepage to highlight this option.

################################################################################

Exercise: Wireframing the project

    In this exercise, you will create a wireframe
        of the homepage incorporating this feature.

    Use Figma.

    Follow the instructions at:
        https://www.coursera.org/learn/meta-front-end-developer-capstone/supplement/Fx5mL/exercise-wireframing-the-project

    Step 1: List the client's requirements

        Content blocks
        ==============

            * About Little Lemon
            * Highlights and specials
            * Descriptions and photos of dishes
            * Navigation bar
            * Footer
            * Testimonials

    Step 2: Create the frame and grid

        Create a 1440 x 2900 frame
        Add a 12-column layout grid to the frame.

        Construct content blocks using rectangles and name the sections.
            Navigation bar
            Hero section that showcases the Little Lemon restaurant
            Highlights section showing the week’s specials
            Testimonials
            About the Little Lemon restaurant
            Footer

    Step 3: Design the Navigation Bar content block

        Logo
        Home
        About
        Menu
        Reservations
        Order online
        Login

    Step 4: Design the Hero Section content block

        The Little Lemon name
        Where it is located
        A brief description of what type of food it offers
        Image
        Button to book a table online

            We are a family owned Mediterranean restaurant, focused on traditional recipes served with a modern twist.

