################################################################################
!!! NOTE
################################################################################

CONTINUED FROM

~/Documents/DEV/version-controlled/edu/Meta Front-End Developer Professional Certificate/08 -- Front-End Developer Capstone/__NOTES.txt

################################################################################

Scenario
========
Little Lemon has faced difficulties with the reserve-a-table feature on its website.
The feature doesn’t exist in the navigation bar
    and there is no specific button on its homepage to highlight this option.
In this exercise, you will create a wireframe of the homepage incorporating this feature.

################################################################################

Exercise: Wireframing the project

    Use Figma.

    Follow the instructions at:
        https://www.coursera.org/learn/meta-front-end-developer-capstone/supplement/Fx5mL/exercise-wireframing-the-project

    Step 1: List the client's requirements

        Content blocks
        ==============

            * About Little Lemon
            * Highlights and specials
            * Descriptions and photos of dishes
            * Navigation bar
            * Footer
            * Testimonials

