/* font-family: 'Karla', sans-serif;
font-family: 'Markazi Text', serif; */

* {
  margin:0;
  padding:0;
  box-sizing: border-box;

  --corner-rad: 20px;
}

#root {
  margin-left: auto;
  margin-right: auto;
  display: grid;

  font-family: 'Karla', sans-serif;
  font-size: 16pt;
  color:#000000;

  max-width: 1489px;

  grid-template-rows: 123px 1fr 200px;
  grid-template-columns: minmax(0, 0px) 1fr minmax(0, 0px);
  grid-template-areas:
      "_1 head _2"
      "_1 main _2"
      "_1 footer _2";
}

@media screen and (max-width: 900px) {
  #root  {
    grid-template-rows: 123px 1fr 350px;
  }
}

header {
  grid-area: head;
  border-bottom: 1px solid black;
  padding-top: 20px;
  padding-bottom: 20px;

  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 50px 232px 10px 1fr 50px;
  grid-template-areas:
      "_1 image _2 nav _3";
  align-items: center;
}

@media screen and (max-width: 900px) {
  header {
    grid-template-rows: 65px 1fr;
    grid-template-columns: 10px 232px 1fr 10px;
    grid-template-areas:
    "_1 image _2 _3"
    "_1 nav nav nav";
  }
}

header img {
  grid-area: image;
  width:100%;

  filter: drop-shadow(10px 5px 3px #cccccc);
}

header nav {
  grid-area: nav;
}

header nav ul {
  grid-area: nav;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.nav-item {
  list-style-type: none;
}

header .nav-item {
  font-size: 11pt;
  font-weight: bold;
}

a {
  text-decoration: none;
  padding: 5px;
}

header a {
  color: #000000;
}

header a:hover {
  color: #495e57;
  background-color: #f4ce14;
  border-radius: 5px;
}

main {
  grid-area: main;

  display: grid;

  grid-template-rows: 383px 640px 525px 1fr;
  grid-template-columns: 1fr;
  grid-template-areas:
      "hero"
      "specials"
      "testimonials"
      "about";
}

#hero {
  grid-area: hero;
  padding-top: 0px;
  padding-bottom: 0px;

  background-color: #495e57;

  display: grid;
  grid-template-rows: 55px 60px 140px 1fr;
  grid-template-columns: 50px 300px 50px 1fr 0px;
  grid-template-areas:
      "_1 hdr _3 img _2"
      "_1 shdr _3 img _2"
      "_1 par _3 img _2"
      "_1 btn-reserve btn-reserve img _2";

  --js:left;
}

@media screen and (max-width: 900px) {
  #hero  {
    grid-template-columns: 10px 300px 20px 1fr 0px;
    grid-template-areas:
    "_1 hdr _99 img _2"
    "_1 shdr _99 img _2"
    "_1 par _99 img _2"
    "_1 btn-reserve _99 img _2";

    --js:left;
  }
}

#hero h1 {
  grid-area: hdr;
  font-family: 'Markazi Text', serif;
  font-size: 40pt;
  color:#f4ce14;
}

#hero h2 {
  grid-area: shdr;
  font-family: 'Markazi Text', serif;
  font-size: 24pt;
  font-style: italic;
  color:#ffffff;
}

#hero p {
  grid-area: par;
  font-size: 16pt;
  color:#ffffff;
}

#hero img {
  grid-area: img;
  object-fit: cover;
  width: 100%;
  height: 100%;
  /* border-top-left-radius: var(--corner-rad);
  border-bottom-left-radius: var(--corner-rad); */
  justify-self: var(--js);

}

#btn-reserve {
  grid-area: btn-reserve;

  justify-self: left;

  display: flex;
  justify-content: center;
  text-align:center;
  flex-direction: column;

  width: 15rem;
  height:3rem;
  background-color: #f4ce14;
  border-radius: 5px;
  border-width: 2px;
  border-style: solid;
  border-color: #fdbabb;

  font-size: 18pt;
  font-weight: bold;
  color:#333333;

  filter: drop-shadow(10px 15px 10px #444444);
}

#btn-reserve:hover {
  color:#ffffff;
}

#specials {
  grid-area: specials;

  align-items: center;

  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 50px 400px 100px 1fr 50px;
  grid-template-areas:
      "_1 hdr _2 btn-order _3"
      "_1 gallery gallery gallery gallery";

  row-gap: 0px;

  --js: left;
}

@media screen and (max-width: 900px) {
  #specials  {
    grid-template-columns: 10px 300px 1fr 10px;
    grid-template-areas:
      "_1 hdr btn-order _2"
      "_1 gallery gallery gallery";

    --js: right;
  }
}

#specials h1 {
  grid-area: hdr;

  font-family: 'Markazi Text', serif;
  font-size: 40pt;

  margin-top: 1rem;
}

#btn-order {
  grid-area: btn-order;

  margin-top: 1rem;

  justify-self: var(--js);

  display: flex;
  justify-content: center;
  text-align:center;
  flex-direction: column;

  width: 15rem;
  height:3rem;
  background-color: #f4ce14;
  border-radius: 5px;
  border-width: 2px;
  border-style: solid;
  border-color: #fdbabb;

  font-size: 18pt;
  font-weight: bold;
  color:#333333;

  filter: drop-shadow(10px 15px 10px #444444);
}

#btn-order:hover {
  color:#ffffff;
}

#specials-gallery {
  grid-area: gallery;

  margin-top: 1rem;

  display: flex;
  overflow-x: auto;

  height:545px
}

.scard {
  margin-right: 20px;
  min-width:300px;
  height:510px;

  background-color: #edefee;
  border-radius: var(--corner-rad);
}

.simg {
  filter: drop-shadow(0px 5px 10px #444444);

  border-top-left-radius: var(--corner-rad);
  border-top-right-radius: var(--corner-rad);
  margin-bottom: 30px;

  min-width: 100%;
}

.sdish {
  font-size: 20pt;
  font-weight: bold;
  color:#333333;
  margin-left: 1rem;
}

.sprice {
  font-size: 20pt;
  font-weight: bold;
  color: #ee9972;
  margin-right: 1rem;
  text-align: right;
  margin-bottom: 1rem;
}

.sdesc {
  font-size: 14pt;
  color:#333333;

  margin-left: 2rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

#testimonials {
  grid-area: testimonials;
  margin-top: 1rem;
  background-color: #495e57;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 50px 1fr;
  grid-template-areas:
      "_1 hdr"
      "_1 gallery";
}

@media screen and (max-width: 900px) {
  #testimonials  {
    grid-template-columns: 10px 1fr;
  }
}

#testimonials h1 {
  grid-area: hdr;

  font-family: 'Markazi Text', serif;
  font-size: 40pt;
  color:#ffffff;
}

#testimonials-gallery {
  grid-area: gallery;

  height:405px;

  display: flex;
  flex-direction: row;
  overflow-x: auto;
}

.tcard {
  margin-right: 20px;
  min-width:300px;
  height: 95%;

  background-color: #ffffff;
  border-radius: var(--corner-rad);

  margin-bottom: 10px;
}

.t-title{
  font-size: 20pt;
  font-weight: bold;
  color:#333333;
  margin-left: 1rem;
  margin-top:1rem;
}

.t-review {
  font-size: 14pt;
  color:#333333;

  margin-top:0.5rem;
  margin-left: 2rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
}



#about {
  grid-area: about;
  padding-top: 20px;
  padding-bottom: 20px;

  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 50px 500px 1fr 1fr 1fr 10px;
  grid-template-areas:
      "_1 hdr hdr hdr hdr hdr"
      "_1 ab-text _0 c2 _3 _3"
      "_1 ab-text c1 c1 _3 _3"
      "_1 ab-text c1 c1 _3 _3"
      "_1 ab-text c1 c1 _3 _3"
      "_1 ab-text c1 c1 _3 _3"
      "_1 ab-text c1 c1 _3 _3"
      "_1 ab-text c1 c1 _3 _3";
}

@media screen and (max-width: 900px) {
  #about  {
    grid-template-columns: 10px 500px 1fr 1fr 1fr 10px;
  }
}

#at-wrap {
  grid-area: hdr;
}

#ab {
  font-family: 'Markazi Text', serif;
  font-size: 40pt;
  color:#333333;

  margin-right: 1rem;
}

#ll {
  font-family: 'Markazi Text', serif;
  font-size: 40pt;
  color:#f4ce14;

  margin-right: 1rem;
}

#det {
  font-family: 'Markazi Text', serif;
  font-size: 40pt;
  font-style: italic;
  color:#495e57;
}

#ab-text {
  grid-area: ab-text;

  font-size: 14pt;
  color:#333333;

  margin-left: 4rem;
  margin-right: 4rem;
  margin-bottom: 2rem;
  margin-top: 1rem;
}

#ai1 {
  grid-row-start: 2;
  grid-row-end: 6;
  grid-column-start: 4;
  grid-column-end: 6;

  width:100%;
  min-width:300px;
}

#ai2 {
  grid-row-start: 4;
  grid-row-end: 9;
  grid-column-start: 3;
  grid-column-end: 5;

  width:100%;
  min-width:300px;
}

@media screen and (max-width: 900px) {
  #ai1 {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 6;
  }
  #ai2 {
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 3;
    grid-column-end: 6;
  }
}

footer {
  grid-area: footer;
  padding-top: 20px;
  padding-bottom: 20px;

  background-color: #495e57;

  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: minmax(10px, 50px) 150px 100px 1.2fr 1fr 1fr minmax(10px, 50px);
  grid-template-areas:
      "_1 image _2 doormat contact social _3";
  align-items: top;
}

@media screen and (max-width: 900px) {
  footer {
    grid-template-rows: 150px 1fr;
    grid-template-columns: 1.2fr 1fr 1fr;
    grid-template-areas:
    "image image image"
    "doormat contact social";
    justify-items: center;
  }
}

footer img {
  grid-area: image;
  width: min(100%, 150px);
  border-radius: 10px;

  filter: drop-shadow(5px 5px 5px #444444);
}

@media screen and (max-width: 900px) {
  footer img {
    width: min(100%, 120px);
  }
}

#doormat {
  grid-area: doormat;
}

#contact {
  grid-area: contact;
}

#social {
  grid-area: social;
}

footer .nav-item {
  font-size: 12pt;
  padding-top: 0.5rem;
}

footer a {
  color: #f4ce14;
}

footer a:hover {
  color: #495e57;
  background-color: #f4ce14;
  border-radius: 5px;
}

.fl-header {
  color: #ffffff;
}
