*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

#root {
  margin-left: auto;
  margin-right: auto;
  display: grid;

  max-width: 1489px;

  grid-template-rows: 123px 1fr 250px;
  grid-template-columns: minmax(0, 0px) 1fr minmax(0, 0px);
  grid-template-areas:
      "_1 head _2"
      "_1 main _2"
      "_1 footer _2";
}

header {
  grid-area: head;
  border-bottom: 1px solid black;
  padding-top: 20px;
  padding-bottom: 20px;

  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: minmax(0, 50px) 232px 10px 1fr minmax(0, 50px);
  grid-template-areas:
      "_1 image _2 nav _3";
  align-items: center;
}

@media screen and (max-width: 900px) {
  header {
    grid-template-rows: 65px 1fr;
    grid-template-columns: 232px 1fr;
    grid-template-areas:
    "image _1"
    "nav nav";
  }
}

header img {
  grid-area: image;
  width:100%
}

header nav {
  grid-area: nav;
}

header nav ul {
  grid-area: nav;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.nav-item {
  justify-content: center;
  list-style-type: none;
  padding-left:1rem;
  padding-right:1rem;
}

main {
  grid-area: main;

  display: grid;

  /* grid-template-rows: 383px 869px 590px 515px; */
  grid-template-rows: 100px 100px 100px 100px;
  grid-template-columns: 1fr;
  grid-template-areas:
      "hero"
      "specials"
      "testimonials"
      "about";
}

#hero {
  grid-area: hero;
  border-bottom: 1px solid blue;
  padding-top: 20px;
  padding-bottom: 20px;

  background-color: #edefee;
}

#specials {
  grid-area: specials;
  border-bottom: 1px solid red;
  padding-top: 20px;
  padding-bottom: 20px;
}

#testimonials {
  grid-area: testimonials;
  border-bottom: 1px solid green;
  padding-top: 20px;
  padding-bottom: 20px;

  background-color: #edefee;
}

#about {
  grid-area: about;
  border-bottom: 1px solid orange;
  padding-top: 20px;
  padding-bottom: 20px;
}

footer {
  grid-area: footer;
  border-bottom: 1px solid black;
  padding-top: 40px;
  padding-bottom: 20px;

  background-color: #edefee;

  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: minmax(0, 50px) 100px 100px 1fr 1fr 1fr minmax(0, 50px);
  grid-template-areas:
      "_1 image _2 doormat contact social _3";
  align-items: top;
}

@media screen and (max-width: 900px) {
  footer {
    grid-template-rows: 80px 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
    "image image image"
    "doormat contact social";
  }
}

footer img {
  grid-area: image;
  width: 100%;
}

#doormat {
  grid-area: doormat;
}

#contact {
  grid-area: contact;
}

#social {
  grid-area: social;
}