/* font-family: 'Karla', sans-serif;
font-family: 'Markazi Text', serif; */

* {
  margin:0;
  padding:0;
  box-sizing: border-box;

  --corner-rad: 20px;
}
#root {
  margin-left: auto;
  margin-right: auto;
  display: grid;

  font-family: 'Karla', sans-serif;
  font-size: 16pt;
  color:#000000;

  max-width: 1489px;

  grid-template-rows: 123px 1fr 200px;
  grid-template-columns: minmax(0, 0px) 1fr minmax(0, 0px);
  grid-template-areas:
      "_1 head _2"
      "_1 main _2"
      "_1 footer _2";
}

@media screen and (max-width: 900px) {
  #root  {
    grid-template-rows: 123px 1fr 330px;
  }
}

header {
  grid-area: head;
  border-bottom: 1px solid black;
  padding-top: 20px;
  padding-bottom: 20px;

  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: minmax(10px, 50px) 232px 10px 1fr minmax(10px, 50px);
  grid-template-areas:
      "_1 image _2 nav _3";
  align-items: center;
}

@media screen and (max-width: 900px) {
  header {
    grid-template-rows: 65px 1fr;
    grid-template-columns: minmax(0px, 50px) 232px 1fr minmax(0px, 50px);
    grid-template-areas:
    "_1 image _2 _3"
    "_1 nav nav _3";
  }
}

header img {
  grid-area: image;
  width:100%;

  filter: drop-shadow(10px 5px 3px #cccccc);
}

header nav {
  grid-area: nav;
}

header nav ul {
  grid-area: nav;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.nav-item {
  justify-content: center;
  list-style-type: none;
}

header .nav-item {
  font-size: 11pt;
  font-weight: bold;
}

a {
  text-decoration: none;
  padding: 5px;
}

header a {
  color: #000000;
}

header a:hover {
  color: #495e57;
  background-color: #f4ce14;
  border-radius: 5px;
}

main {
  grid-area: main;

  display: grid;

  /* grid-template-rows: 383px 869px 590px 515px; */
  grid-template-rows: 383px 100px 100px 100px;
  grid-template-columns: 1fr;
  grid-template-areas:
      "hero"
      "specials"
      "testimonials"
      "about";
}

#hero {
  grid-area: hero;
  padding-top: 20px;
  padding-bottom: 20px;

  background-color: #495e57;

  display: grid;
  grid-template-rows: 55px 55px 1fr 1fr;
  grid-template-columns: minmax(10px, 50px) 400px 1fr minmax(10px, 50px);
  grid-template-areas:
      "_1 hdr img _2"
      "_1 shdr img _2"
      "_1 par img _2"
      "_1 btn-reserve img _2";
}

@media screen and (max-width: 800px) {
  #hero  {
    grid-template-columns: minmax(10px, 50px) 300px 1fr minmax(10px, 50px);
    grid-template-areas:
    "_1 hdr img _2"
    "_1 shdr img _2"
    "_1 par par _2"
    "_1 btn-reserve btn-reserve _2";
  }
}

#hero h1 {
  grid-area: hdr;
  font-family: 'Markazi Text', serif;
  font-size: 40pt;
  color:#f4ce14;
}

#hero h2 {
  grid-area: shdr;
  font-family: 'Markazi Text', serif;
  font-size: 24pt;
  color:#ffffff;
}

#hero p {
  grid-area: par;
  font-size: 16pt;
  color:#ffffff;
}

#hero img {
  grid-area: img;
  height: 100%;
  border-radius: var(--corner-rad);
  padding: 10px;
  justify-self: center;

  filter: drop-shadow(10px 15px 10px #444444);
}

#specials {
  grid-area: specials;
  padding-top: 20px;
  padding-bottom: 20px;
}

#specials h1 {
  font-family: 'Markazi Text', serif;
  font-size: 40pt;
}

#testimonials {
  grid-area: testimonials;
  padding-top: 20px;
  padding-bottom: 20px;

  background-color: #495e57;
}

#testimonials h1 {
  font-family: 'Markazi Text', serif;
  font-size: 40pt;
  color:#ffffff;
}

#about {
  grid-area: about;
  padding-top: 20px;
  padding-bottom: 20px;
}

footer {
  grid-area: footer;
  padding-top: 20px;
  padding-bottom: 20px;

  background-color: #495e57;

  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: minmax(10px, 50px) 150px 100px 1.2fr 1fr 1fr minmax(10px, 50px);
  grid-template-areas:
      "_1 image _2 doormat contact social _3";
  align-items: top;
}

@media screen and (max-width: 900px) {
  footer {
    grid-template-rows: 130px 1fr;
    grid-template-columns: 1.2fr 1fr 1fr;
    grid-template-areas:
    "image image image"
    "doormat contact social";
    justify-items: center;
  }
}

footer img {
  grid-area: image;
  width: min(100%, 100px);
  border-radius: 10px;

  filter: drop-shadow(5px 5px 5px #444444);
}

#doormat {
  grid-area: doormat;
}

#contact {
  grid-area: contact;
}

#social {
  grid-area: social;
}

footer .nav-item {
  font-size: 12pt;
  padding-top: 0.5rem;
}

footer a {
  color: #f4ce14;
}

footer a:hover {
  color: #495e57;
  background-color: #f4ce14;
  border-radius: 5px;
}

.fl-header {
  color: #ffffff;
}
