*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

#root {
  margin-left: auto;
  margin-right: auto;
  display: grid;

  /* max-width: 1489px; */
  max-width: 1489px;

  grid-template-rows: 123px 1fr 421px;
  grid-template-columns: 100%;
  grid-template-areas:
      "head"
      "main"
      "footer";
}

header {
  grid-area: head;
  border-bottom: 1px solid black;

  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 50px 232px 10px 1fr;
  grid-template-areas:
      "_1 image _2 nav";
  align-items: center;
}

header img {
  grid-area: image;

  width:100%

}

header nav {
  grid-area: nav;
}

header nav ul {
  grid-area: nav;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.nav-item {
  justify-content: center;
  list-style-type: none;
}

main {
  display: grid;

  /* grid-template-rows: 383px 869px 590px 515px; */
  grid-template-rows: 100px 100px 100px 100px;
  grid-template-columns: 50px 1fr 50px;
  grid-template-areas:
      "_1 hero _2"
      "_1 specials _2"
      "_1 testimonials _2"
      "_1 about _2";
}

#hero {
  grid-area: hero;
  border-bottom: 1px solid blue;
}

#specials {
  grid-area: specials;
  border-bottom: 1px solid red;
}

#testimonials {
  grid-area: testimonials;
  border-bottom: 1px solid green;
}

#about {
  grid-area: about;
  border-bottom: 1px solid orange;
}

footer {
  grid-area: footer;
  border-bottom: 1px solid black;

  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 50px 232px 50px 1fr 1fr 1fr;
  grid-template-areas:
      "_1 image _2 doormat contact social";
  align-items: top;
}

footer img {
  grid-area: image;

  width: 100%;
}

#doormat {
  grid-area: doormat;
}

#contact {
  grid-area: contact;
}

#social {
  grid-area: social;
}